<div class="navigation-bar">
  <%= button_to "Sign up", '/sign-up', class: "button-type-2", method: :get%>
</div>

<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Log in</h1>
   <%= form_tag '/log-in' do %>
   <%= label_tag :username%>
   <%= text_field_tag :username %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Log in"%>
<%end%>