
<div class="navigation-bar">
  <%= button_to "Log in", '/log-in', class: "button-type-2", method: :get%>
</div>


<div class="credentials-container">
  <h1>Sign up</h1>
  <%= form_for @user do |f|%>
  <div class="form-section" id="form-username">
    <div><%= f.label :username%></div>
    <% if !@user.errors.empty? %>
    <div class="error-message"><%= @user.errors[:username].first %></div>
    <% end %>
    <%= f.text_field :username%>
  </div>
  <div class="form-section" id="form-password"> 
   <div> <%= f.label :password%></div>
    <% if !@user.errors.empty? %>
    <p class="error-message"><%= @user.errors[:password].first %></p>
    <% end %>
    <%= f.password_field :password%>
  </div>
  <%= f.submit 'Sign up', class: "button-type-3"%>
  <%end%>
</div>
