
<div class="navigation-bar">
  <%= button_to "Log in", '/log-in', class: "button-type-2", method: :get%>
</div>


<div class="credentials-container">
  <h1>Sign up</h1>
  <%= form_for @user do |f|%>
  <div class="form-section" id="form-username">
    <%= f.label :username%>
    <p class="error-message"><%= @user.errors[:username].first %></p>
    <%= f.text_field :username%>
  </div>
  <div class="form-section" id="form-password"> 
    <%= f.label :password%>
    <p class="error-message"><%= @user.errors[:password].first %></p>
    <%= f.password_field :password%>
  </div>
  <%= f.submit 'Sign up'%>
  <%end%>
</div>
