
<div class="navigation-bar">
  <%= button_to "Log in", '/log-in', class: "button-type-2", method: :get%>
</div>


<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.label :profile_picture%><br>
  <%= f.text_area :profile_picture%><br>
  <%= f.submit 'Sign up'%>
<%end%>